@model LoginViewModel

@{ 
    Layout = "_Layout";
}

<form asp-controller="Account" asp-action="Login" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <p class="text-danger">@ViewBag.Message</p>
    <div class="mb-3">
        <label asp-for="@Model.Email">E-mail</label><br />
        <div><span asp-validation-for="@Model.Email" class="text-danger"></span></div>
        <input asp-for="@Model.Email" />
    </div>
    <div class="mb-3">
        <label asp-for="@Model.Password">Password</label><br />
        <div><span asp-validation-for="@Model.Password" class="text-danger"></span></div>
        <input asp-for="@Model.Password" type="password" />
    </div>
    <input type="submit" value="Log in" />
</form>